.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    padding: 60px 0;
    background-color: #e2e2e2;
}

.feature-title {
    padding: 0 70px;
    font-size: 40px;
    font-weight: 600;
}

.feature-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 40px;
}

.feature-card-container {
    flex: 1;
    height: 75%;
    width: 90%;
    padding: 15px 30px;
}

@media only screen and (max-width: 900px) {
    .features {
        height: auto;
    }

    .feature-title {
        padding: 0 70px 40px;
        font-size: 30px;
    }

    .feature-cards {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .feature-card-container {
        padding: 0 15px;
    }
}

.feature-card {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 8px;
    border-radius: 30px;
}

.feature-card-content {
    padding: 20px;
}
