.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    padding: 40px 0;
    background-color: #e2e2e2;
    font-size: 15px;
}

.features .feature-title {
    padding: 0 70px 50px;
    font-size: 40px;
    font-weight: 600;
}

.features .feature-cards {
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    padding: 0 80px;
    text-align: center;
}

.feature-cards .feature-card {
    display: grid;
    grid-template-columns: 230px;
    grid-template-rows: 100px 90px;
    grid-template-areas: 'img' 'text';
}

.feature-card .feature-card-img {
    grid-area: img;
    overflow: hidden;
}

.feature-card-img img {
    width: 220px;
    height: 100px;
}

.feature-card .feature-card-text {
    grid-area: text;
}

@media only screen and (max-width: 1200px) {
    .features {
        height: auto;
    }

    .features .feature-cards {
        padding: 0 20px;
    }

    .feature-cards .feature-card {
        grid-template-columns: 170px;
    }
}

@media only screen and (max-width: 800px) {
    .features .feature-title {
        padding: 0 70px 20px;
        font-size: 28px;
        text-align: center;
    }

    .features .feature-cards {
        flex-direction: column;
        height: auto;
        text-align: left;
    }

    .feature-cards .feature-card {
        display: flex;
        padding: 20px;
    }
}
