.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    padding: 40px 0;
    background-color: #e2e2e2;
    font-size: 15px;
}

.features .feature-title {
    padding: 0 70px 40px;
    font-size: 40px;
    font-weight: 600;
}

.features .feature-cards {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 40px 40px;
    text-align: center;
}

.feature-cards .feature-card {
    flex: 1;
    padding: 0 20px;
}

.feature-card-text h4 {
    margin-bottom: 5px;
}

@media only screen and (max-width: 1200px) {
    .features {
        height: auto;
    }
}

@media only screen and (max-width: 800px) {
    .features .feature-title {
        padding: 0 70px 0;
        font-size: 32px;
        text-align: center;
    }

    .features .feature-cards {
        flex-direction: column;
        height: auto;
        text-align: left;
    }

    .feature-cards .feature-card {
        display: flex;
        padding: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .features .feature-title {
        padding: 0 70px 0;
        font-size: 28px;
        text-align: center;
    }

    .features .feature-cards {
        flex-direction: column;
        height: auto;
        margin: 20px;
        text-align: left;
    }
}
