.logo {
    display: flex;
    align-items: center;
    font-size: 27px;
}

.logo img {
    height: 3rem;
    width: 3rem;
}

.logo span {
    font-weight: 800;
    color: var(--color-green);
}

.logo-link {
    padding-left: 2px;
    text-decoration: none;
    color: #000;
}
