.saved-recipes {
    min-height: 55vh;
    width: 100vw;
    padding: 30px 70px 55px;
}

.saved-recipes .saved-recipes-title {
    width: 100%;
    padding: 10px 0 30px;
    font-size: var(--home-title-font-size);
    font-weight: 700;
    text-align: center;
}

.saved-recipes-title span {
    color: var(--color-green);
}

.saved-recipes .saved-recipes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.saved-recipes-container .saved-recipe {
    padding: 20px 40px;
}

.saved-recipes .loading-saved-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-recipes .no-recipes-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 18px;
}

.loading-saved-recipes .loading-saved-recipes-message {
    padding-top: 18px;
}

@media only screen and (max-width: 600px) {
    .saved-recipes .saved-recipes-title {
        font-size: 30px;
    }
}

.saved-recipes .pagination-saved-recipes-container {
    display: flex;
    justify-content: center;
    padding: 30px 0 20px;
}
