.saved-recipes {
    width: 100vw;
    padding: 30px 70px 55px;
}

.saved-recipes .arrow-to-pantry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    padding: 5px;
    background-color: var(--color-green);
    border-radius: 7px;
}

.arrow-to-pantry-container .arrow-to-pantry {
    color: #fff;
}

.saved-recipes .saved-recipes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.saved-recipes-container .saved-recipe {
    padding: 20px 40px;
}

.saved-recipes .saved-recipes-title {
    width: 100%;
    padding: 10px 0 30px;
    font-size: var(--home-title-font-size);
    font-weight: 700;
}

@media only screen and (max-width: 1000px) {
    .saved-recipes .saved-recipes-title {
        text-align: center;
    }
}

.saved-recipes-title span {
    color: var(--color-green);
}

@media only screen and (max-width: 600px) {
    .saved-recipes .saved-recipes-title {
        font-size: 30px;
    }
}
