.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: #f8f8f8;
}

.footer .links {
    font-size: 16px;
    margin: 8px 100px;
}

.footer .link {
    text-decoration: none;
    color: #000;
}
