.container-sign-in {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #deebdd;
    background-image: linear-gradient(
        135deg,
        #deebdd 0%,
        var(--color-gradient) 74%
    );
}

.card-sign-in {
    max-width: 400px;
    background-color: #f1f1f1;
    padding: 25px 50px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.card-sign-in .title-sign-in {
    font-size: 20px;
    padding: 12px 0px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

.card-sign-in form .user-info {
    display: flex;
    flex-direction: column;
}

form .user-info .user-info-box {
    width: 100%;
    margin: 10px 0;
}

.user-info .user-info-box .labels-sign-in {
    font-size: 16px;
}

.user-info .user-info-box input {
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
}

form .btn-sign-in {
    height: 75px;
    padding: 20px 0;
}

.btn-sign-in button {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    background-color: var(--color-green);
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0);
    transition: ease-out 0.3s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sign-in button:hover {
    box-shadow: inset 300px 0 0 0 rgba(0, 0, 0);
}

.error {
    font-size: 13px;
    color: var(--color-error);
}
