:root {
    --ingredient-input-width: 400px;
}

.pantry-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 490px;
    padding: 40px 20px;
    border-radius: 15px;
    background-color: #d1d1d1;
}

.pantry-search {
    position: relative;
    padding-bottom: 50px;
}

.pantry-search.pantry-search-border-active:before {
    content: '';
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 3px solid #fff;
}

.ingredient-input input {
    height: 34px;
    width: var(--ingredient-input-width);
    padding-left: 15px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.ingredient-input.ingredient-input-borders input {
    border-radius: 4px 4px 0 0;
}

/* .ingredient-matches-container, */
.ingredient-matches {
    height: 150px;
}

.ingredient-matches.ingredient-matches-exist {
    width: var(--ingredient-input-width);
    border: 1px #ccc;
    border-radius: 0px;
    overflow: scroll;
}

.ingredient-matches .ingredient-match {
    padding: 8px 6px;
    background-color: #fff;
    font-size: 13px;
    cursor: pointer;
}

.ingredient-matches .ingredient-match:hover {
    background-color: #cdcdcd;
}

.ingredient-match .ingredient-match-name {
    margin-left: 9px;
}

.pantry-list {
    width: 410px;
    padding-top: 26px;
}

.pantry-list .pantry-list-container {
    padding-top: 5px;
}

.pantry-list-container.pantry-list-container-active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.pantry-list .no-ingredients {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.btn-to-filtered-recipes-container {
    padding-top: 43px;
}

.btn-to-filtered-recipes-container .btn-to-filtered-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 310px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #e3f59c;
    transition: ease-out 0.3s;
}

.btn-to-filtered-recipes-container .btn-to-filtered-recipes:hover {
    color: #000;
    box-shadow: inset 400px 0 0 0 #e3f59c;
}

@media only screen and (max-width: 500px) {
    .pantry-list-section {
        width: 100%;
        padding: 40px 0;
        border-radius: 0px;
    }

    .pantry-list-section .pantry-search {
        width: 60%;
    }

    .ingredient-input input,
    .ingredient-matches.ingredient-matches-exist {
        width: 100%;
    }

    .pantry-list {
        width: 100%;
    }

    .pantry-list .pantry-list-container {
        box-shadow: none;
    }
}
