.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: linear-gradient(
        135deg,
        #deebdd 0%,
        var(--color-gradient) 74%
    );
}

.sign-up-card {
    max-width: 420px;
    padding: 25px 50px;
    background-color: #f1f1f1;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 500px) {
    .sign-up-card {
        max-width: 600px;
        border-radius: 0px;
    }
}

.sign-up-card .sign-up-title {
    padding: 13px 0px;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

.sign-up-card form .sign-up-info {
    display: flex;
    flex-direction: column;
}

form .sign-up-info .sign-up-info-box {
    margin: 10px 0;
}

.sign-up-info .sign-up-info-box input {
    height: 30px;
    width: 100%;
    padding-left: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.btn-sign-up button {
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: #fff;
    background-color: var(--color-green);
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0);
    transition: ease-out 0.3s;
}

form .btn-sign-up {
    height: 75px;
    padding: 20px 0;
}

.btn-sign-up button:hover {
    box-shadow: inset 400px 0 0 0 rgba(0, 0, 0);
}

.error-sign-up {
    font-size: 13px;
    color: var(--color-error);
}
